.button {
    width: 340px;
    margin: 0 auto;
    background-color: #3A1078;
    color: white;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
  
    &:hover {
      background-color: darken(#3A1078, 10%);
    }
  
    &:active {
      background-color: darken(#3A1078, 20%);
    }
  }