.scroll-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 1.2rem;
    color: #E4E4F0;
  }
  
  .scroll-bar svg {
    margin-left: 0.5rem;
  }