.tabsContainer {
  width: 695.99px;
  height: 36.17px;
  position: absolute;
  top: 50vh;
  left: 50vh;
  background: radial-gradient(
      90.16% 143.01% at 15.32% 21.04%,
      rgba(72, 38, 168, 0.2) 0%,
      rgba(111, 68, 189, 0.2) 77.08%,
      rgba(70, 144, 213, 0) 100%
    )
    /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
  background-blend-mode: overlay, normal;
  backdrop-filter: blur(50px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 59px;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.2);
  border-width: 0.2rem;
}
.links {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 0.25rem;
  padding-left: 3rem;
  padding-right: 3rem;
}
.link {
  color: #fff;
  text-decoration: none;
  font-family: poppins;
  font-size: 14px;
  font-weight: 500;
  position: relative;
  top: 0;
  padding: 1rem 0.5rem 0.5rem 0.5rem;
  &:hover {
    transition: 0.3s;
    padding-bottom: 0;
    top: 0;
  }
}

.active {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  font-weight: 700;
  position: relative;
  transition: all 0.3s ease-in-out;
  top: -0.15rem;
  &::before {
    content: "";
    position: absolute;
    left: 15%;
    bottom: -0.3rem;
    width: 70%;
    padding-bottom: 0.3rem;
    border-bottom: #fff solid 0.1rem;
  }
}
