.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: 2rem;
  height: 100%;
  width: 100%;
}
.paperDetails {
  text-align: left;
  margin-top: 2rem;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: #f4eafb;
  margin-left: 2rem;
  margin-bottom: 1rem;
}

.label {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  color: #f4eafb;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-top: 1rem;
  margin-left: 3rem;
}

.input {
  margin-left: 1rem;
  margin-bottom: 0.5rem;
  padding: 0.7rem;
  background-color: transparent;
  border: none;
  border-bottom: 0.2rem solid #f4eafb;
  border-radius: 0.4rem;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  color: rgb(252, 252, 252);
  font-size: 15px;
  line-height: 28px;
  height: 1.2rem;
  outline: none;
}

.input::placeholder {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.34);
  font-size: 15px;
}
.textArea {
  margin-top: 0rem;
  margin-left: 1rem;
  padding: 0.4rem;
  background-color: transparent;
  border-style: none;
  // border-style: groove;
  border-radius: 0.4rem;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  color: rgb(252, 252, 252);
  font-size: 13px;
  // line-height: 28px;
  // width: 100%;
  // height: 10%;
  border: none;
  border-bottom: 0.2rem solid #f4eafb;
  border-radius: 0.4rem;
  outline: none;
}

.textArea::placeholder {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.34);
  font-size: 15px;
  width: 100%;
  height: 10rem;
}
.submitForm {
  align-self: center;
}
.affiliations {
  margin-left: 1rem;
}

.addCoAuthorBtn {
  margin-left: 3rem;
  margin-top: 2rem;
  padding: 0.1rem 0.2rem;
  text-align: center;
  font-size: large;
  font-weight: 700;
  background-color: #3a1078;
  color: #f4eafb;
  border-radius: 0.4rem;
  border-color: transparent;
  cursor: pointer;
}
.checkbox {
  margin-left: 1rem;
}
.coAuthorForm {
  margin-left: 3rem;
  button {
    margin-left: 3rem;
  }
  input {
    margin-bottom: 1rem;
  }

  select {
    margin-bottom: 1rem;

    color: #3a1078;
    appearance: none;
    outline: 0;
    background: rgb(254, 254, 254);
    height: 100%;
    width: auto;
    cursor: pointer;
    border: 0.1rem solid #ffffff;
    border-radius: 0.15rem;
    padding: 0.3rem;
    font-weight: 500;
  }

  .errorMessage {
    color: red;
    font-size: 0.8rem;
    margin: 1rem;
    margin-left: 3rem;
  }
}
.saveBtn {
  margin-left: 3rem;
  margin-top: 2rem;
}
.uploadField {
  align-self: center;
  justify-self: center;
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.showCoAuthors {
  display: flex;
  flex-direction: column;
  margin-left: 3rem;
  margin-top: 2rem;
  width: 100%;
  h5 {
    font-size: 1rem;
    font-weight: 600;
    color: rgb(255, 255, 255);
  }
}
.coAuthorContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-bottom: 1rem;
  div {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    width: 100%;
  }

  p {
    margin-top: 0.5rem;
  }
  .deleteCoAuthor {
    display: block;
    border: red 0.1rem solid;
    padding: 0.15rem;
    margin-left: 0.1rem;
    border-radius: 0.35rem;
    background-color: red;
    width: 2rem;
    height: 2rem;
    text-align: center;
    font-size: 0.7rem;
    cursor: pointer;
    color: white;
  }
}

.submitBtn {
  align-self: center;

  button {
    margin: 2rem;
    align-self: center;
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
    font-weight: 700;
    font-family: "Poppins";
  }
}
