.sidebarMenu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: max(20vw, 10rem);
  height: 65%;
}

.tabButton {
  color: white;
  background-color: transparent;
  border: none;
  width: 60%;
  font-size: 1rem;
  cursor: pointer;
  text-align: left;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-family: "Sulphur Point";
  margin: 0.6vh;
  margin-left: max(2vw, 2rem);
  height: 1.5rem;
  padding: 0.2rem 0.2rem;
  font-weight: 700;
  @media screen and (max-width: 45rem) {
    text-align: center;
  }
}

.active {
  color: #5a1499;
  transition: all 0.5s;
  background-color: white;
  position: relative;
  left: 0.2vw;
}
