.sidebarMenu {
    display: flex;
    flex-direction: column;
  }
  
  .tabButton {
    color: white;
    background-color: transparent;
    border: none;
    padding: 8px;
    width: 166px;
    font-size: 16px;
    cursor: pointer;
  
    // &:hover {
    //   color: #5A1499;
    // }
  }
  
  .active {
    color: #5A1499;
    background-color: white;
  }
  