.homeContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.card {
  width: 60%;
  height: 60%;
  align-self: start;
  margin-top: 5%;
}
