.homeContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.card {
  width: 60%;
  height: 60%;
  align-self: start;
  margin-top: 5%;
}

.container {
  width: 100%;
  height: 100%;

  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  //   background: url(container.png),
  //     radial-gradient(
  //       90.16% 143.01% at 15.32% 21.04%,
  //       rgba(165, 239, 255, 0.2) 0%,
  //       rgba(110, 191, 244, 0.0447917) 77.08%,
  //       rgba(70, 144, 213, 0) 100%
  //     );

  background: radial-gradient(
    90.16% 143.01% at 15.32% 21.04%,
    rgba(165, 239, 255, 0.2) 0%,
    rgba(110, 191, 244, 0.0447917) 77.08%,
    rgba(70, 144, 213, 0) 100%
  );
  background-blend-mode: overlay, normal;
  backdrop-filter: blur(40px);

  border-radius: 5rem;
  transform: rotate(0.12deg);

  border: 0.3rem solid rgba(255, 242, 242, 0.354);

  overflow-x: scroll;
  overflow-y: hidden;
  padding: 3rem;
}

.content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin: auto;
  flex-wrap: nowrap;
}
