.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 1rem;
  margin: 1rem;
  min-width: 60rem;
  background: radial-gradient(
    90.16% 143.01% at 15.32% 21.04%,
    rgba(165, 239, 255, 0.2) 0%,
    rgba(110, 191, 244, 0.0447917) 77.08%,
    rgba(70, 144, 213, 0) 100%
  );
  background-blend-mode: overlay, normal;
  backdrop-filter: blur(40px);
  border-radius: 3rem;
  transform: rotate(0.12deg);
  gap: 1rem;
  border: 0.3rem solid rgba(255, 242, 242, 0.354);
}
.cards {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
}
.paperDetails {
  margin-left: 2rem;
  gap: 0.3rem;
}

.button {
  background-color: transparent;
  border-style: none;
  color: white;
  font-size: 19px;
  font-weight: 700;
  box-shadow: rgba(0, 0, 0, 1);
  cursor: pointer;
}

.upButton {
  background-color: transparent;
  border-style: none;
  color: white;
  font-size: 19px;
  font-weight: 700;
  box-shadow: rgba(0, 0, 0, 1);
  cursor: pointer;
  transform: rotate(180deg);
}
.showAbstract {
  display: flex;
  flex-direction: row;
  gap: 0.4rem;
}
.revButton {
  background-color: #3a1078;
  border-radius: 5px;
  padding-left: 1rem;
  padding-right: 1rem;
  text-decoration: none;
  margin-left: 2rem;
  color: white;
  font-size: 13px;
  font-weight: 700;
  box-shadow: rgba(0, 0, 0, 1);
  cursor: pointer;
}
