.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  margin: 3vw;
}
.links {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
