.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  margin: 3vh 2vw;
  padding-left: 2rem;
  @media screen and (max-width: 45rem) {
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    align-items: center;
    padding-left: 0;
  }
}
.links {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  gap: 2rem;
  padding-right: 2rem;
  @media screen and (max-width: 45rem) {
    padding-right: 0rem;
  }
  @media screen and (max-width: 30rem) {
    flex-direction: column;
    text-align: center;
  }
}
.link {
  color: #fff;
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: 400;
  position: relative;
  top: 0;
  text-transform: uppercase;
  &:hover {
    transition: 0.3s;
    padding-bottom: 0;
    top: 0;
  }
}
.active {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 500;
  position: relative;
  transition: all 0.3s ease-in-out;
  top: -0.15rem;
  &::before {
    content: "";
    position: absolute;
    left: 15%;
    bottom: -0.3rem;
    width: 70%;
    padding-bottom: 0.3rem;
    border-bottom: #fff solid 0.1rem;
  }
}
