.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  margin: 3vh 2vw;
  padding-left: 2rem;
}
.links {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  gap: 2rem;
  padding-right: 2rem;
}
